body { 	
	background: no-repeat center center;
	background-size: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 150%;
	margin-left: 70px; 
}

#img-container {
	position: fixed;
	top: 10%;
	right: 5%;
	width: 50%;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

li, ul {	display:block; }

a:link, a:visited 
	{ 	font-weight: bold;
		color:; #827f7d; }

a:hover, a:active 
	{	color: #2d2e2f; }
